@import
url('https://fonts.googleapis.com/css2?family=Bangers&family=Indie+Flower&display=swap');

body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  line-height: 30px;
  background-color: #c8cfdb;
}

h1, h2 {
  font-family: 'Bangers', cursive;
}

header {
  background-color: #d14635;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1 {
  font-size: 80px;

}

header img {
  border-radius: 162px;
  width: 300px;
  border: 12px solid white;
  background-color: white;

  /* border: 20px solid #483a94; */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

main img {
  max-width: 100%;

}

.imageMain {
  padding: 50px 0 50px 0;
  line-height: 10px;
  font-style: italic;
  font-size: 0.80em;
}

h2 {
  font-size: 35px;
  color: #e70c19
}

a {
  color: #e70c19;
}

a:hover {
  color: white;
  background-color: #483a94;
}

footer {
  background-color: #d14635;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  opacity: 0.5;
  background-color: transparent;
}
